body{
    background: rgba(102, 209, 255, 0.1);
    margin: 0;
    color: #060D10;
}
header{
    background-color: #87CEEB;
}
h1, h2, h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 167%;
    text-transform: uppercase;
}
h1{
    font-size: 60px;
    text-align: center;
    color:rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 2px #060D10;
}
.description{
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #060D10;
}
h2{
    font-size: 48px;
    text-align: center;
}
h3{
    font-size: 32px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
}

.head, .foot{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.btn-head{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    width: 276px;
    height: 45px;  
    border: none;
    border-radius: 4px;
    margin: 34px 81px;
}
.btn-foot{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 36px;
    background-color: Transparent;
    border-radius: 4px;
    display: flex;
    
    justify-content: center;
}
.logo{
    margin: 31px 0 ;
}
.phone{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #060D10;
    text-decoration: none;
    margin: 39px 81px;
}

.promo{
    height: 766px;
    background: url("../img/promo.png");
    background-size: cover;
}

footer{
    width: 100%;
    background-color: #060D10;
    color: white;
    display: inline-flex;
    justify-content: space-between;
}

.join>p{
    display:inline;
}

.container{
    width: 1440px;
    margin: 0 auto;
}